// @import url(./../../scss/variables.scss);
@import "./../../scss/variables.scss";

.ContainerCards {
    background-color: #D1CBC1;
    width: 100%;
    height: auto;
    

    .Cards {
background-color: $Whitesmoke;
width: 30%;
border-radius: 6px;

h2 {
    font-family: $Poppins;
    font-size: 2rem;
    color: $Prussian;

    
}
p { 
    font-family: $Poppins;
    font-size: 1rem;
    color: $Indigo;
}
    }
}