// @import url(./../../scss/variables.scss);
@import "./../../scss/variables.scss";

.ContainerCards {
    background-color: #D1CBC1;
    background-color: $beige;
    width: 100%;
    height: auto;
    

    .Cards {
background-color: $whitesmoke;
width: 30%;
border-radius: 6px;

h2 {
    font-family: $poppins;
    font-size: 2rem;
    color: $prussian;

    
}
p { 
    font-family: $poppins;
    font-size: 1rem;
    color: $indigo;
}
    }
}