.mainFooterContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  width: 100%;
}

@media (max-width: 640px) {
  .mainFooterContainer {
    flex-direction: column;
  }
}
