//Fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$Poppins: "Poppins", sans-serif;

//Colors

$Whitesmoke: #f6f5f4;
$Beige: #D1CBC1;
$Silver: #bcb7ad;
$Gray: #807d77;
$Blue: #00a6fb;
$Indigo:#004d74;
$Prussian: #03273c;

